.btn {
  display: inline-flex;
  font-family: $main-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  padding: 15px 32px;
  transition: .5s;
  justify-content: center;
  align-items: center;
  border-radius: 100px;

  &_main {
    background-color: $white;
    color: $warm;
    padding: 20px 40px;
    min-width: 233px;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 4px rgba(248, 250, 252, .25);
      color: #ff864d;
    }

    &:active {
      box-shadow: 0 0 0 4px rgba(248, 250, 252, .25);
      background-color: #f7f7f7;
      color: #f25f18;
    }
  }

  &_stroke {
    border: 1px solid #ff7330;
    color: $warm;
  }

  &_glass {
    border: 1px solid #f8fafc;
    color: $white;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }

    &:active {
      box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
      color: #f2f2f2;
    }
  }

  .icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 16px;
    color: currentColor;
  }

  svg {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
}

.btn_main .icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;

  svg {
    display: block;
    width: 100%;
    height: auto;
  }
}

.btn_round {

  display: inline-block;
  cursor: pointer;
  appearance: none;
  right: 10px;
  width: 65px;
  height: 65px;
  border: none;
  padding: 0;
  z-index: 500;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  background-color: transparent;
  border-radius: 50%;
  svg {
    display: inline-block;
    width: 100%;
    height: auto;
  }

  defs stop:first-child {
    stop-color: #FC8014;
  }

  defs stop:last-child {
    stop-color: #FCA61A;
  }

  &:hover defs stop:first-child {
    stop-color: #FCA61A;
  }

  &:hover defs stop:last-child {
    stop-color: #FFC21D;
  }

  &:active defs stop:first-child {
    stop-color: #FC5111;
  }

  &:active defs stop:last-child {
    stop-color: #FC8014;
  }
}

.btn_up {
  position: fixed;
  bottom: 18vh;
  z-index: 100;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.btn_buy {
  position: sticky;
  bottom:27vh;

  &.show {
    position: fixed;
    opacity: 1;
    visibility: visible;
  }
}

@include respond-to($xs){
  .btn_round{
    width: 56px;
    height: 56px;
  }
}