.menu {
  display: flex;
  margin-right: 60px;

  &__item {
    font-family: $main-font;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    transition: .35s;

    &:hover,
    &:focus {

    }
  }

  @include respond-to($xl) {
    .menu {
      margin-left: 15px;
      flex-direction: column;
    }
    .menu__item {
      margin-right: 15px;
      font-size: 16px;
    }
  }
  @include respond-to($lg) {

      flex-direction: column;
      padding: 60px 0;
      margin: 0;

      &__item {
        font-weight: 600;
        font-size: 28px;
        line-height: 140%;
        color: #262522;
        margin-bottom: 40px;
        margin-right: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }

  }
  @include respond-to($md) {


  }
  @include respond-to($xs) {

  }
}
