// fonts

$main-font: "Uni Neue", sans-serif;
$secondary-font: "Geologica", sans-serif;

// bg and color
$warm: #FF7330;
$white: #ffffff;
// Screen Variables

$xs: '(max-width: 370px)';
$sm: '(max-width: 568px)';
$md: '(max-width: 768px)';
$lg: '(max-width: 1023px)';
$xl: '(max-width: 1279px)';
$xxl: '(max-width: 1440px)';



