body {
  font: 500 24px/1.4 $main-font;
  color: #2e3540;
  background-color: #fafbff;
  //scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.main {
  position: relative;
  flex: 1 0 auto;

  &__bg {
    position: absolute;
    right: 0;
    z-index: -1;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
    .container {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 20px;

    }

    .decor-el {
      border-left: 1px solid #f0f1f5;
      border-right: 1px solid #f0f1f5;
    }
  }
}

.container-scale-img{
  position: relative;
  height: 50vh;
}

.section {
  position: relative;
  display: flex;
  align-items: center;
  padding: 120px 0;
  min-height: 100vh;
  z-index: 1;
  background-color: #fafbff;
}

.section__title {
  width: 100%;
  text-align: center;
  font-family: $secondary-font;
  font-weight: 800;
  font-size: 56px;
  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #2e3540;
  margin-bottom: 60px;

  sup {
    font-weight: 400;
    vertical-align: bottom;
  }
}

.dynamic-content {
  p {
    margin-bottom: 1.25em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5em;
  }

  a {
    //color: #7fc2da;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  ul {
    margin-bottom: 20px;

    li {
      position: relative;
      margin-bottom: 7px;
      padding-left: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #262522;
        left: 0;
        top: 13px;
      }
    }
  }

  ol {
    counter-reset: list;
    margin-bottom: 20px;

    li {
      position: relative;
      margin-bottom: 7px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        counter-increment: list;
        content: counter(list) ". ";
      }
    }
  }

  blockquote {
    position: relative;

    color: #FFFFFF;
    padding: 30px 0;
    margin-bottom: 60px;
    z-index: 1;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 100vw;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #00ADF1;
      z-index: -1;
    }
  }

  img.alignright {
    float: right;
    margin: 0 0 1.2em 1.2em
  }

  img.alignleft {
    float: left;
    margin: 0 1.2em 1.2em 0
  }

  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  a img.alignright {
    float: right;
    margin: 0 0 1.2em 1.2em
  }

  a img.alignleft {
    float: left;
    margin: 0 1.2em 1.2em 0
  }

  a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
}

.disclaimer-main {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 15vh;
  z-index: 100;
  transition: .35s;
  background-color: rgba(255, 255, 255, .1);

  color: #DCDDE0;

  &.white {
    color: #ffffff;
  }

  &.hide {
    opacity: 0;
    transition: .35s;
  }

  svg {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .img-mob {
    display: none;
  }
}


@include respond-to($xl) {
  .section__title {
    font-size: 48px;
  }
}

@include respond-to($lg) {
  .section {
    min-height: auto;
  }
  .main__bg {
    top: -80px;
    bottom: -80px;
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .section {
    padding: 80px 0;

    &__title {
      font-size: 56px;
    }
  }

}

@include respond-to($md) {
  .main__bg {
    top: -60px;
    bottom: -60px;
  }
  .section__title {
    font-size: 32px;
  }
  .section {
    padding: 60px 0;
  }
  .disclaimer-main {
    padding: 0 20px;

    .img-mob {
      display: block;
    }

    .img-desk {
      display: none;
    }
  }

  @include respond-to($sm) {
    body {
      font-size: 18px;
    }
  }
}

@include respond-to($xs) {
.section{
  padding: 40px 0;
  &__title{
    font-size: 22px;
    margin-bottom: 24px;
  }
}
  .main__bg {
    top: -40px;
    bottom: -40px;
  }
  .dynamic-content {
    blockquote {
      padding: 15px 0;
      margin-bottom: 30px;
    }
  }
}




