//@keyframes width {
//  0% {
//    width: 100%;
//  }
//  100% {
//    width: 0;
//  }
//}
//
//.active {
//  animation: 1s in-out forwards;
//}
//
.effects__pill {
  display: flex;
justify-content: center;

}

.effects__pill_right{
  margin-bottom: -2px;
}

.effects__pill_right.active {

  transition: 2s ease-in;
}
.aaa {

    transition: .2s ease-in;
  }
