
.container {
  max-width: 1280px;
  padding: 0 50px;
  width: 100%;
  margin: 0 auto;


  @include respond-to($xxl) {
    max-width: 1280px;

  }
  @include respond-to($xl) {
    max-width: 1024px;

  }
  @include respond-to($lg) {
    max-width: 780px;
  }
  @include respond-to($md) {
    max-width: 568px;
    padding: 0 22px;
  }

  @include respond-to($sm) {
    max-width: 375px;
  }
  @include respond-to($xs) {
    width: 100%;
    padding: 0 15px;
  }
}




