.section-effects {
  background-color: #fafbff;
  align-items: center;
.main__bg{
  top: 0;
}
}

.pill-side {
  transition: .2s ease-in;
}

.effects__pill_right {
  //margin-bottom: -2px;
}

.effects__pill {
  display: flex;
  justify-content: center;
  align-items: center;
  //opacity:0;
}

.effects {
  position: relative;
  display: flex;
  margin: -10px;

  &-wrap {
    position: relative;
  }

  &__pill {
    position: absolute;
    bottom: 0;
    z-index: 4;

    &_left {
      right: 50%;
      transform: translateX(-1000px);
    }

    &_right {
      left: 50%;
      transform: translateX(1000px);
    }
  }


  &__item {
    text-align: center;
    padding: 0 10px;
    width: 25%;
    transition: .25s;
  }

  .card__text {
    padding: 0 16%;
  }

  .card {
    position: relative;
    min-height: 305px;
  }



  .card__thumb {
    position: relative;
    width: 100%;
    background-color: #fafbff;
    z-index: 1;
    margin: 0 auto;
    max-width: 225px;
    img {
      position: relative;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

@include respond-to($lg) {
  .section-effects {
    min-height: 100vh;

    .section__title {
      max-width: 678px;
      margin: 0 auto 60px;
    }
  }
  .effects {
    flex-wrap: wrap;

    &__pill {
      bottom: 150px;
    }

    &__item {
      width: 50%;
    }

    .card {

    }
  }
}

@include respond-to($md) {
  .effects {

    .card__text {
      padding: 0 23px;
    }
  }
}

@include respond-to($sm) {
  .effects {
    gap: 10px 0;

    &__pill {
      bottom: 116px;
    }

    &__pill_right {
      margin-bottom: 0.5px;
    }

    .card {
      min-height: 214px;
      &__thumb {
        max-width: 152px;
      }

      &__text {
        padding: 0 10px;
      }
    }
  }
}

@include respond-to($xs) {

  .effects {
    .card__text {
      padding: 0;
    }
    .effects .card__thumb img {
      max-width: 156px;
    }
  }
}