.section-effects {

}

.effects {
  display: flex;
  margin: -10px;

  &__item {
    text-align: center;
    padding: 0 10px;
    width: 25%;
  }

  .card__text {
    padding: 0 16%;
  }

  .card__thumb {
    max-width: 225px;
    padding-top: 80.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    margin: 0 auto;
  }
}

@include respond-to($lg) {
  .section-effects {
    height: auto;
    .section__title {
      max-width: 678px;
    }
  }
  .effects {
    flex-wrap: wrap;

    &__item {
      width: 50%;
    }

    .card__thumb {
      //max-width: 176px;
      //padding-top: 53.25%;
    }
  }
}

@include respond-to($md) {

}

@include respond-to($sm) {

}

@include respond-to($xs) {

}