.section-note {
  color: #545b66;
  font-size: 16px;
  line-height: 130%;
  min-height: 0;

  .title {
    font-size: 16px;
    color: #545b66;
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 4px;
  }

  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  ol {
    counter-reset: list;

    li {
      position: relative;
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        counter-increment: list;
        content: counter(list) ". ";
      }
    }
  }
}


@include respond-to($lg) {

}

@include respond-to($md) {
  .footer_top {
    padding: 60px 40px;
  }
  .footer__disclaimer {
    height: 90px;
  }
  .footer_bottom {
    padding: 20px 0 10px;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;

    }
  }
  .footer__logo {
    margin-bottom: 24px;
  }
  .copyright {
    flex-direction: column;
    align-items: center;
    line-height: 1.5;

    div:first-child {
      margin-right: 0;
    }
  }
}

@include respond-to($sm) {

}

@include respond-to($xs) {

}