.section-banner {
  position: relative;
  min-height: calc(100vh - 100px);
  color: $white;
  display: flex;
  align-items: center;
  overflow: hidden;

  .container {
    min-height: 340px;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  &__bg-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 110%;
    width: 110%;
    object-fit: cover;
    z-index: -1;
  }

  .part_left {
    width: 58%;
    max-width: 680px;

  }

  .part_right {
    width: 42%;
    max-width: 500px;

  }

  .section__title {
    color: $white;
    font-weight: 700;
    text-align: left;
    text-transform: initial;
  }

  &__wrap-img {
    position: relative;
    height: 100%;
  }
}

.img-banner {
  display: block;
}

.img-banner_1 {
  max-width: 342px;
  margin-left: auto;

}

.img-banner_2 {
  max-width: 365px;
  position: absolute;
  left: 0;
  bottom: 0;
}