.section-about {
  //min-height: 789px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .part_left {
    position: relative;
    max-width: 580px;
    height: 416px;
    width: 50%;
  }

  .part_right {
    position: relative;
    width: 50%;
    padding: 0 80px;
  }

  .arrow-left {
    position: absolute;
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: contain;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.img-about_1 {
  display: block;
  max-width: 393px;
  width: 70%;
}

.img-about_2 {
  display: block;
  position: absolute;
  max-width: 431px;
  bottom: 0;
  right: 0;
  width: 70%;
}

.slider-components {
  height: 431px;

  .swiper-slide {
    padding-left: 20px;
    padding-bottom: 53px;
  }
}

.count-indicator {
  position: absolute;
  white-space: nowrap;
  font-size: 14px;
  line-height: 120%;
  color: #2e3540;
  background: #e8e9ed;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 33px;
  bottom: 0;
  left: 20px;
  z-index: 2;
}

.current-slide {
  font-weight: 700;
}

.post {
  color: #545b66;

  &__thumb {
    position: relative;
    width: 180px;
    height: 180px;
    margin-bottom: 20px;

    img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #2e3540;
    margin-bottom: 16px;
  }

  .label {
    display: block;
    font-weight: 700;
    line-height: 130%;
    color: #ff7330;
    margin-bottom: 16px;

    &:empty {
      display: none;
    }
  }

  sup {
    font-size: 0.6em;
  }
}

@include respond-to($xl) {
  .post__thumb {
    position: relative;
    width: 140px;
    height: 140px;
  }
  .post__title {
    font-size: 29px;
  }
  .section-about .part_left {
    height: 340px;
  }
}

@include respond-to($lg) {
  .section-about {
    .container {
      flex-direction: column;
      align-items: center;
    }

    .part_right {
      width: 100%;
      padding: 0;

    }

    .arrow-left {
      display: none;
    }

    .part_left {
      width: 100%;
      max-width: 366px;
      height: 249px;
      margin-bottom: 40px;
    }
  }
  .slider-components {
    height: auto;
    .swiper-wrapper {
      padding-bottom: 76px;
    }

    .swiper-slide {
      padding-left: 0;
      padding-bottom: 0;
    }
  }

  .count-indicator {
    bottom: 76px;
    left: 248px;
  }
  .post {
    display: flex;

    &__thumb {
      width: 228px;
      height: 228px;
      flex-shrink: 0;

    }

    &__content {
      padding: 9px 20px 56px;
    }
  }

}

@include respond-to($md) {
  .section-about {
    padding-bottom: 40px;

    .section__title {
      margin-bottom: 40px;
    }
  }
  .slider-components .swiper-wrapper {
    padding-bottom: 56px;
  }
}

@include respond-to($sm) {
  .post {
    flex-direction: column;
  }
  .post__thumb {
    margin: 0 auto 20px;
  }
  .post__title {
    font-size: 24px;
  }
  .count-indicator {
    left: 20px;
  }
  .section-about .part_left {
    width: 335px;
    height: 249px;
  }
}

@include respond-to($xs) {
  .section-about {
    .part_left {
      max-width: 280px;
      height: 205px;
    }
  }
}