.section-effects {
  background-color: #fafbff;
}

.effects {
  position: relative;
  display: flex;
  margin: -10px;

  &-wrap {
    position: relative;
  }

  &__pill {
    position: absolute;
    bottom: 0;
    z-index: 4;

    &_left {
      right: 50%;
      transform: translateX(-680px);
    }

    &_right {
      left: 50%;
      transform: translateX(680px);
    }
  }


  &__item {
    text-align: center;
    padding: 0 10px;
    width: 25%;
  }

  .card__text {
    padding: 0 16%;
  }

  .card {
    padding-top: 80.25%;
    position: relative;
    height: 100%;
  }

  .card__inner {
    position: relative;
  }

  .card__thumb {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    width: 100%;
    background-color: #fafbff;

    img {
      position: relative;
      height: 100%;
      width: 100%;
      max-width: 225px;
      object-fit: contain;
    }
  }
}

@include respond-to($lg) {
  .section-effects {
    height: auto;

    .section__title {
      max-width: 678px;
    }
  }
  .effects {
    flex-wrap: wrap;

    &__item {
      width: 50%;
    }
  }
}

@include respond-to($md) {
  .effects {

    .card__text {
      padding: 0 23px;
    }
  }
}

@include respond-to($sm) {
  .effects {
    gap: 10px 0;

    .card {
      padding-top: 97.25%;
    }

    .card__thumb {
      max-width: 152px;
      padding-top: 97.25%;
    }

    .card__text {
      padding: 0 10px;
    }
  }
}

@include respond-to($xs) {
  .effects {
    .card__text {
      padding: 0;
    }
  }
}