.section-banner {
  position: relative;
  color: $white;
  display: flex;
  align-items: center;
  overflow: hidden;

  .container {
    min-height: 340px;
    align-items: center;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &__bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .part_left {
    width: 58%;
    max-width: 680px;

  }

  .part_right {
    width: 42%;
    max-width: 500px;
    height: 340px;
  }

  .section__title {
    color: $white;
    font-weight: 700;
    text-align: left;
    text-transform: initial;
  }

  &__wrap-img {
    position: relative;
    height: 100%;
  }
}

.img-banner {
  display: block;
}

.img-banner_1 {
  max-width: 342px;
  width: 70%;
  margin-left: auto;
  opacity: 0;
}

.img-banner_2 {
  max-width: 365px;
  width: 70%;
  position: absolute;
  left: 0;
  bottom: 0;
}


@include respond-to($xl) {
  .section-banner .part_right {
    height: 274px;
  }
}

@include respond-to($lg) {
  .section-banner {
    padding-top: 100px;
    min-height: 100vh;

    .section__title {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 48px;
      text-align: center;
    }

    .btn_main {
      margin-bottom: 48px;
    }

    .container {
      flex-wrap: wrap;
      align-items: center;
    }

    .part_left {
      width: 100%;
      text-align: center;
    }

    .part_right {
      width: 100%;
      max-width: 366px;
      height: 254px;
      margin: 0 auto 80px;
    }
  }
}

@include respond-to($md) {
  .section-banner {
    padding-top: 100px;
  }
}

@media screen and (orientation: landscape) and (max-height: 768px) {
  .section-banner .section__title {
    font-size: 40px;
  }
}

@include respond-to($sm) {
  .btn_main {
    padding: 16px 32px;
    min-width: 186px;

    .icon {
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }
  }
  .section-banner {
    .section__title {
      font-size: 28px;
      line-height: 130%;
      letter-spacing: -0.01em;
    }

    .part_right {
      width: 335px;
      height: 229px;
    }
  }

}

@media screen and (max-width: 390px){
  .section-banner {
    padding-top: 70px;


    .part_right {
      max-width: 280px;
      height: 195px;
    }
  }
}
@include respond-to($xs){
  .section-banner{
    padding-top: 70px;
  }
}
@media screen and (max-width: 340px) {
  .section-banner {
    .btn_main {
      margin-bottom: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .section__title {
      font-size: 22px;
      margin-bottom: 24px;
    }
  }
}